.user-dashboard{
    padding: 20px 30px;
}
.rating-card{
    label{
        font-size: 2.5rem;
    }
}

.add-driver-container{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.title-dash{
    margin-top: 80px;
}
.ride-body{
    background-color: rgb(241 241 82 / 24%);;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.location-error{
    margin: 0;
    text-align: start;
    padding-left: 16px;
    color: red;
    font-size: 12px;
}
.profile-wrapper{
    display: flex;
    justify-content: center;
}